<html>
<head>
</head>
<body>

  <span>Check console for service messages</span>

  <script src="lib/jquery/dist/jquery.js" language="javascript"></script>

  <script src="app/servicea.js" language="javascript"></script>
  <script src="app/serviceb.js" language="javascript"></script>
  <script src="app/application.js" language="javascript"></script>
  <script src="app.js" language="javascript"></script>

</body>
</html>